* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: #FFFFFF;
}
canvas {
  border: 1px solid #000000;
  width: 960px;
  height: 540px;
}
div {
  display: block;
  margin-left: auto;
  marign-right: auto;
}
